[submodule "Cogniterm_Agents"]
	path = Cogniterm_Agents
	url = https://github.com/Dinith132/Cogniterm_Agents.git
[submodule "Cogniterm_Electron"]
	path = Cogniterm_Electron
	url = https://github.com/Dinith132/Cogniterm_Electron.git
[submodule "Cogniterm_Spring_Proxy"]
	path = Cogniterm_Spring_Proxy
	url = https://github.com/Dinith132/Cogniterm_StpingBoot_BE.git
